& when (@media-common = true) {
    .add-to-cart-popup {
        .modal-inner-wrap {
            text-align: center;
        }
        .modal-footer button {
            margin: 5px;
        }
    }
    .add-to-cart-modal-content .title {
        font-size: 1.05em;
        margin-bottom: 2rem;
    }

}