& when (@media-common = true) {
    .events-section {
        margin: 30px 0;
        .section-title {
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: 500;
        }
    }
    .events {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        .event {
            margin: 15px 10px;
            width: calc(~"25% - 20px");
            text-align: center;
            .image {
                margin: 0 auto;
            }
            >*:not(:last-child) {
                margin-bottom: 8px;
            }
            &-title {
                font-size: 1.05em;
                font-weight: 500;
                line-height: 1.3;
            }
            &-event-time {
                font-weight: 500;
                font-size: 1.1em;
                color: @color-gray34;
            }
            &-description {
                color: @color-gray40;
            }
        }
    }

    .events-modal {
        &.modal-popup {
            .modal-inner-wrap {
                width: 400px;
                margin: 0 auto;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .fieldset-wrapper-title {
            text-align: center;
            margin-bottom: 10px;
        }
        .modal-footer {
            display: none;
        }
        fieldset {
            padding: 0;
            margin: 0;
            border: none;
            text-align: center;
        }
        .field {
            margin-bottom: 10px;
        }
    }
    .events-popup {
        position: relative;
        .success {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            text-align: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 1.15em;
            padding: 30px;
            z-index: 1;
        }
        .error {
            color: red;
            margin-top: 10px;
        }
    }
}