& when (@media-common = true) {
    .modal-popup .modal-inner-wrap {
        top: 50%;
        left: 50%;
        margin: 0;
        width: 100%;
        max-width: 500px;
        transform: translate(-50%, -40%);
    }
    .modal-popup._show .modal-inner-wrap {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}