@page__background-color: #ffffff;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body p {
        border: 1px solid #333333;
        padding: 5px;
        margin: 10px 0;
        color: #666666;
    }
}