<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">-->
        <!--<arguments>-->
            <!--<argument name="collections" xsi:type="array">-->
                <!--<item-->
                    <!--name="elevator_grid_listing_data_source"-->
                    <!--xsi:type="string"-->
                <!--&gt;Vaimo\MasterClass\Model\ResourceModel\MasterClass\Grid\Collection</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</type>-->

     <!--MasterClassGridDataProvider -->
    <virtualType name="MasterClassGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Vaimo\MasterClass\Model\ResourceModel\MasterClass\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MasterClassGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="MasterClassGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="masterclass_test_listing_data_source" xsi:type="string">Vaimo\MasterClass\Model\ResourceModel\MasterClass\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Vaimo\MasterClass\Model\ResourceModel\MasterClass\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vaimo_masterclass_event</argument>
            <argument name="resourceModel" xsi:type="string">Vaimo\MasterClass\Model\ResourceModel\MasterClass</argument>
        </arguments>
    </virtualType>
</config>